*{
    box-sizing: border-box;
    /* padding: 0; */
    margin: 0;
    font-family: "Montserrat-Var";
}

html{
    font-size: 10px;
}

h1{
    padding: 100px 0 20px 100px;
}

ul{
    padding-left: 150px;
    list-style-type: none;
}

h1::first-letter{
    font-size: 3em;
    color: #00796B;
}

h1:hover::first-letter{
    color: #4FC3F7;
}

li{
    font-size: 2em;
}

ul li:nth-of-type(1),
ul li:nth-of-type(2){
    text-decoration: line-through;
}

ul li:nth-of-type(1)::before,
ul li:nth-of-type(2)::before{
    content: url("../snippets/check.png");
}

ul li:nth-of-type(1)::after{
    content: url("../snippets/gym.png");
}

ul li:nth-of-type(2)::after{
    content: url("../snippets/bill.png");
}

ul li:nth-of-type(3)::before,
ul li:nth-of-type(4)::before{
    content: url("../snippets/doing.png");
}

ul li:nth-of-type(3)::after{
    content: url("../snippets/dance.png");
}

ul li:nth-of-type(4)::after{
    content: url("../snippets/eat.png");
}

ul li:nth-of-type(5),
ul li:nth-of-type(6){
    text-decoration: underline;
}

ul li:nth-of-type(5)::before,
ul li:nth-of-type(6)::before{
    content: url("../snippets/no.png");
}

ul li:nth-of-type(5)::after{
    content: url("../snippets/book.png");
}

ul li:nth-of-type(6)::after{
    content: url("../snippets/organize.png");
}



